body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
 .container{
            padding: 3px;
        }
        .dark{
            background-color:#333333;
        }
        .header{
            padding: 20px;
        }
        h1{
            font-size: 15px;
            color: forestgreen;
            text-align: center;
            background-color: lightgrey;
            padding: 10px;
            border-radius: 3px;
           
        }
        .grey{
            background-color: lightgray;
             border-radius: 3px;
             
        }
        h2{
            font-size: 15px;
            color: forestgreen;
        }
        h3{
            font-size: 14px;
            color: forestgreen;
        }
        .p{
            margin-left: 200px;
        }
        .img{
            padding: 5px;
        }
        .footer-social{
            padding: 30px;
            background-color:black;
        }
        .p3{
            padding-left: 20px 10px;
            margin-bottom: 10px;
        }
        .align-bottom{
            
        }
        .jay{
             margin-right: 50px;
            
        }
        .f{
            font-size: 14px;
        }
        .fa-facebook{
            background-color: dodgerblue;
            color: white;
             float: right;
        }
        .fa-twitter{
            background-color: dodgerblue;
            color: white;
            float: right;
        }
        .fa-google{
            background-color: dodgerblue;
            color:white;
             float: right;
        }
        .show{
                width: 30%;
                text-align: center;
                box-sizing: border-box;
                padding: 10px 15px;
                cursor: pointer;
                color: white;
            display: none;
                
            }
        .abc{
            
        }
        .hide{
            
        }
        .o{
            border-radius: 2px;
            font-size: 12px;
        }
        div a:hover{
        color: green;
}
            
        
@media screen and (max-width:580px){
            
            .abc{
                display: none;
                width: 100%;
            } 
            .show{
                display:inline;
                padding: 5px 5px;
                width: 100%;
            }
            .hide{
                width: 100%;
            }
            }
         

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}